/* Control de todos los elemetos dentro la barra de navegacion */
.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(235, 97, 17, 0.3);
    height: 4em;
    border: 1px solid rgb(247, 246, 252);
    box-shadow: 0 0.5em 5px 1px rgb(136, 135, 135);

}

/* Logo de barra de navegacion*/
.navegacion__logo {
    list-style: none;
    margin-left: 0.5em;
}

.navegacion__logo img {
    height: 4em;
    border-radius: 100%;
    margin-top: 0.2em;
    cursor: pointer;
}

.navegacion__logo h3 {
    margin: auto;
    color: white;
}

/* Utilidades de la barra de navegacion*/
.navegacion__utilidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 4em;
    margin: auto;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
}

.utilidades {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.8em;
}

.utilidades_dark {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 0.8em;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.subMenu {
    text-decoration: none;
    list-style: none;
}

.menuDesplegado {
    position: absolute;
    padding: 0;
    display: none;
}

.menuDesplegado_dark {
    position: absolute;
    padding: 0;
    display: none;
}

.menuDesplegado li {
    color: rgb(255, 255, 255);
}

.menuDesplegado_dark li {
    color: rgb(255, 255, 255);
}

.menuDesplegado li:hover {
    background-color: rgb(255, 115, 0);
    z-index: 100;
}

.menuDesplegado_dark li:hover {
    background-color: rgb(255, 115, 0);
    z-index: 100;
}

.utilidades:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 0.5em;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 20px 1px rgb(117, 115, 110);
}

.utilidades_dark:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 0.5em;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 20px 1px rgb(117, 115, 110);
}

.utilidades:hover .menuDesplegado {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 7em;
    margin-top: 2.0em;
    border-radius: 0.5em;
    padding: 0.2em 0.8em;
    background-color: rgba(0, 0, 0);
    z-index: 100;
    text-align: center;
}

.utilidades_dark:hover .menuDesplegado_dark {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 7em;
    margin-top: 2.0em;
    border-radius: 0.5em;
    padding: 0.2em 0.8em;
    background-color: rgba(0, 0, 0);
    z-index: 100;
    text-align: center;
}



/*Boton de carrito*/
.navegacion__carrito {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5em;
    margin-top: .4em;
}

.navegacion__carrito button {
    display: flex;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: rgb(255, 252, 252);
}

.navegacion__carrito__dark {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5em;
    margin-top: .4em;
}

.navegacion__carrito__dark button {
    display: flex;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: rgb(5, 5, 5);
}

.navegacion__carrito__dark button:hover {
    color: white;
}

.navegacion__carrito button:hover {
    color: rgb(255, 115, 0);
}

#numeroCarrito {
    color: rgb(240, 235, 235);
    background-color: rgb(255, 115, 0);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: 0.8em;
    border-radius: 20%;
    border: 0.1em solid black;
    font-size: 0.8em;
}

.modo_claro {
    background-color: rgb(255, 255, 255);
    padding: .3em .4em;
    border-radius: 2em;
    margin-right: 2em;
    margin-left: -3em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.473);
}

.modo_claro:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.486);
    transform: translateY(-2px);
}

.modo_claro:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
    transform: translateY(1px);
}

.modo_oscuro {
    background-color: rgb(0, 0, 0);
    padding: .3em .4em;
    border-radius: 2em;
    margin-right: 2em;
    margin-left: -3em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 254, 254, 0.486);
}

.modo_oscuro:hover {
    box-shadow: 0 8px 12px rgba(255, 253, 253, 0.568);
    transform: translateY(-2px);
}

.modo_oscuro:active {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.452);
    transform: translateY(1px);
}

.modo_oscuro button {
    all: unset;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
}

.modo_claro button {
    all: unset;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
}

.modo_oscuro button {
    color: rgb(250, 192, 0);
}

.boton_busqueda {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    display: flex;
}

.boton_busqueda_dark {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    display: flex;
}

.boton_busqueda:hover {
    color: orange;
}

.boton_busqueda_dark:hover {
    color: rgb(255, 255, 255)
}

.barra_busqueda {

    margin-left: -3em;

}

.input_busqueda {
    padding: .6em;
    width: 15em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-family: "Cormorant Garamond", serif;
    font-size: .9em;
}

.boton_lupa {
    color: orange;
}

.boton_lupa_dark {
    color: white;
}

.contenedor_carrito_darkmode {
    display: flex;
}

.boton_menu {
    display: none;
}

/*MEDIA QUERYS*/

@media (max-width: 1250px) {
    .barra_busqueda {
        margin-left: 37em;
        margin-top: 6em;
        position: absolute;
        font-size: .9em;
    }
}

@media (max-width: 1008px) {
    .navegacion__utilidades {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: auto;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: .8em;
        flex-wrap: wrap;
    }

    .utilidades {
        display: flex;
        justify-content: center;
        color: white;
        flex-wrap: wrap;
    }

    .contenedor_carrito_darkmode {
        font-size: .8em;
    }
}

@media (max-width: 800px) {
    .navegacion__utilidades {
        display: none;
    }


    .navegacion__utilidades.show {
        display: flex;
        justify-content: flex-start;
        padding-left: 0em;
        position: absolute;
        flex-direction: row;
        list-style: none;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: .8em;
        margin-top: 8em;
        border-radius: .5em;
        z-index: 200;
        gap: 1em;
        background-color: rgb(214, 127, 12);
    }

    .contenedor_carrito_darkmode {
        display: flex;
        align-items: center;
    }

    .boton_menu {
        position: absolute;
        display: flex;
        margin-right: -1em;
        color: white;
        font-size: 3em;
        margin-top: .2em;
        margin-left: 2.4em;
    }

    .boton_menu button {
        border-radius: 1em;
        all: unset;
    }


    .boton_busqueda:hover {
        color: rgb(2, 2, 2);
    }

    .boton_lupa {
        margin-left: .4em;
        padding-bottom: .2em;
    }

    .boton_lupa_off {
        margin-left: .4em;
        padding-bottom: .2em;
    }


    .navegacion__logo {
        margin-left: -2em;
    }

    .barra_busqueda {

        margin-top: 5.2em;
        margin-left: 16.5em;

    }

    #numeroCarrito {
        background-color: rgb(255, 115, 0);
        margin-right: -1em;
    }

}





@media (max-width: 357px) {

    .navegacion__utilidades.show {
        margin-top: 10.8em;
    }


    .barra_busqueda {
        margin-left: 10em;
    }
}

@media (max-width: 318px) {

    .navegacion__utilidades.show {
        margin-top: 11.7em;
    }


    .barra_busqueda {
        margin-left: 10em;
    }
}