body{
    background-color: rgb(47, 180, 180, 0.1) ;
    background-image: url('https://wallpapers.com/images/hd/black-and-grey-background-2048-x-1152-g7jx263dwg5ol0bc.jpg');
}

body.dark-mode{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://i.postimg.cc/1X9GSDX1/peakpx.jpg);
}