.contenedor{
    gap: 5em;
    flex-wrap: wrap;
}

.descripcion{
    text-align: center;
    color: white;
    margin-top: 2em;
    font-family: "Cormorant Garamond", serif;
    
}

.descripcion p{
    display: inline-block;
    background-color: orange;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    border-radius: 5em;
}